* {
    margin:0px;
    font-family: Arial;
    border: border-box;
    /* border box makes the border by taking width and height as its measurements and whenever padding is added it reduces the size of the content not by changing the magnitude of the border.*/
}

.navbar {
    height: 60px;
    color: white;
    background-color: #08443c;
    /* bar below nav-bar color = #205c54 */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

img {
    height: 29px;
    margin-top: 7px;
}

.border {
    height: 50px;
    padding: 0px 9px 0px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 5px; */
    /* left: 6px; */
    border: 1.5px solid transparent;
    border-radius: 5%;
}

.border:hover {
    border: 1.5px solid white
}

/* *******box2***** */

#add-first {
    color: #CCCCCC;
    /* font-size: 0.85rem; */
    font-size: 12px;
    /* margin-left: 12px; */
}

#add-sec {
    /* font-size: 1rem; */
    font-size: 14px;
    font-weight: 700;
}

/* *******box3****** */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    /* background-color: black; */
    width: 895px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffdfd7;
}

.nav-search:hover {
    border: 2px solid rgb(249, 111, 134);
}

#search-select {
    color: #555555;
    background-color: #f3f3f3;
    width: 50px;
    font-size: 12px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

#search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
}

/* *******box4****** */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* *******box5******* */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* ------------------------------------------------------- */

.panel {
    height: 39px;
    background-color: #205c54;
    display: flex;
}

.menu-bar-container {
    /* height: 39px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}


.menu-bar {
    border: 2px solid white;
    margin-left: 11px;
    /* width: 57.9px; */
    color: white;
}

#three-bars {
    font-size: 18px;
    margin-right: 5px;
}

/* ------------------------------------------ */

.links {
    font-size: 14px;
    display: flex;
    color: white;
}

.pad {
    padding: 0px 9px 0px 9px;
    border: 1.5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad:hover {
    border: 1.5px solid white;
    border-radius: 5%;
}

/* ------------------------------------- */

.hero-section {
    height: 600px;
    /* background-image: url(hero-picture.jpg); */
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 113, 133, 0), rgba(0, 113, 133, 0), rgba(226, 231, 230, 0.99)), url('pictures/hero-picture.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-msg {
    width: 1460px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #0F1111;
    font-size: 14px;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}

/* ------------------------------------------------ */

.background-color-section {
    width: 100%;
    height: 650px;
    background-color: #e2e7e6;
}

.overlay-section {
    height: 420px;
    width: 99.8%;
    position: absolute;
    top: 440px;
}

/* -------------------------------------------------- */

.shop-section-1 {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 350px;
    height: 420px;
    background-color: white;
}


.box-img-big {
    width: 310px;
    height: 303.3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    position: relative;
    left: 20px;
}

.box-img-small {
    width: 147.25px;
    height: 115.85px;
}

.box-img-big p {
    height: 35.8px;
    width: 147.25px;
    font-size: 12px;
}

.box h2 {
    padding: 20px 0px 10px 0px;
    font-size: 21px;
    position: relative;
    left: 20px;
}

.box a {
    position: relative;
    top: 20px;
    left: 20px;
    color: #007185;
    text-decoration: none;
    font-size: 13px;
}

/* ------------------- box 1 --------------------------------- */

.box1-img {
    background-image: url("pictures/img1.jpg");
    background-position-x: center;
}

/* --------------------- left margin and right margin------------------ */
.box1 {
    margin-left: 10px;
}

.box4 {
    margin-right: 8px;
}

/* --------------------------- box 2 ----------------------------------- */



.box2-img1 {
    background-image: url('pictures/fashion_img1.jpg');
    background-position-x: center;
}

.box2-img2 {
    background-image: url('pictures/fashion_img2.jpg');
    background-position-x: center;
}

.box2-img3 {
    background-image: url('pictures/fashion_img3.jpg');
    background-position-x: center;
}

.box2-img4 {
    background-image: url('pictures/fashion_img4.jpg');
    background-position-x: center;
}

/* ------------------------------box 3 --------------------------------- */

.box3-img1 {
    background-image: url('pictures/fash_trend_img1.jpg');
    background-position-x: center;
}

.box3-img2 {
    background-image: url('pictures/fash_trend_img2.jpg');
    background-position-x: center;
}

.box3-img3 {
    background-image: url('pictures/fash_trend_img3.jpg');
    background-position-x: center;
}

.box3-img4 {
    background-image: url('pictures/fash_trend_img4.jpg');
    background-position-x: center;
}

/* -------------------------- box 4 (Special)----------------------------- */

.box4-block {
    width: 310px;
    height: 303.7px;
    position: relative;
    left: 20px;
}

.box4-block p {
    font-size: 13px;
    color: #0F1111;
}

.box4-img {
    width: 310px;
    height: 230px;
    background-image: url('pictures/top_deal.jpg');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

#discount {
    font-size: 12px;
    background-color: #cc0c39;
    color: white;
    width: 89.35px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
}

#tpd {
    height: 24px;
    width: 214px;
    color: #cc0c39;
    margin-left: 6.65px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

#text {
    display: flex;
}

/* ---------------------------- lower-section ------------------------------ */

.lower-section {
    height: 420px;
    width: 99.8%;
    position: absolute;
    top: 880px;
    /* border: 2px solid black; */
}

/* -------------------------------- b1 ------------------------------------- */

.b1-img1 {
    background-image: url('pictures/gaming1.jpg');
    background-position-x: center;
}

.b1-img2 {
    background-image: url('pictures/gaming2.jpg');
    background-position-x: center;
}

.b1-img3 {
    background-image: url('pictures/gaming3.jpg');
    background-position-x: center;
}

.b1-img4 {
    background-image: url('pictures/gaming4.jpg');
    background-position-x: center;
}

/* ------------------------- b2 ------------------------------------------ */

.b2-img {
    background-image: url('pictures/pc.jpg');
    background-position-x: center;
}

/* ----------------------------- b3 ---------------------------------------*/

.b3-img {
    background-image: url('pictures/toys.jpg');
    background-position-x: center;
}

/* ----------------------------- b4 ------------------------------------- */

.b4-img1 {
    background-image: url('pictures/space1.jpg');
    background-position-x: center;
}

.b4-img2 {
    background-image: url('pictures/space2.jpg');
    background-position-x: center;
}

.b4-img3 {
    background-image: url('pictures/space3.jpg');
    background-position-x: center;
}

.b4-img4 {
    background-image: url('pictures/space4.jpg');
    background-position-x: center;
}

.b1 {
    margin-left: 9px;
}

.b4 {
    margin-right: 8px;
}

/* ----------------------- footer ----------------------------- */

footer {
    background-color: #0F1111;
    color: #FFFFFF;
}

/* ------------------------ part -1 -------------------------- */

.btp {
    height: 49px;
    background-color: #232f3e;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    margin-top: 40px;
    margin-bottom: 40px;
}

.info_container {
    height: 318.359px;
    margin-left: 175.5px;
    margin-right: 175.5px;
    display: flex;
    justify-content: space-between;
}

.column p {
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

.column a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    color: #DDDDDD;
}

/* -------------------------- part 2 ------------------------- */

.divider {
    margin-top: 40px;
    height: 1px;
    background-color: #635e5e;
}

.amazon-logo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}

.container {
    height: 68px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.bxd {
    position: relative;
    top: 8px;
    display: flex;
    width: 427.844px;
}

.bx {
    height: 20px;
    border: 1px solid #DDDDDD;
    padding: 6px 18px 6px 8px;
    border-radius: 5%;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 4px;
}

.bx-1 {
    width: 88.828px;
}

.bx-2 {
    width: 124.688px;
}

.bx-3 {
    width: 111.641px;
}

.bx-3 img {
    height: 18px; 
}
